.bg-body-light{
    background-color: #f7f9fb;
}
.dark .dark\:bg-body-dark{
    background-color: #18191a;
}
.dark .dark\:bg-exp-dark,
.dark .dark\:bg-title-dark,
.dark .dark\:bg-navbar-dark,
.dark .dark\:bg-footer-dark,
.dark .dark\:bg-product-dark{
    background-color: #242526;
}
a{
    transition: all 0.2s;
}
a:hover {
    color: #fe2c55;
}
.fixed {
    border-bottom: 1px solid #ebecf0;
}
.dark .dark\:fixed {
    border-color: rgba(255,255,255,0.2);
}
.vnodesign-border {
    border: 1px solid #ebecf0;
}
.dark .dark\:vnodesign-border {
    border-color: rgba(255,255,255,0.2);
}