@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'font-awesome/css/font-awesome.css';

.bg-body-light {
    background-color: #f7f9fb;
}

.dark .dark\:bg-body-dark {
    background-color: #18191a;
}

.dark .dark\:bg-exp-dark,
.dark .dark\:bg-title-dark,
.dark .dark\:bg-navbar-dark,
.dark .dark\:bg-footer-dark,
.dark .dark\:bg-product-dark,
.dark .dark\:bg-coverletter-dark {
    background-color: #242526;
}

a:hover {
    color: #FC2954;
}

.vnodesign-border {
    border: 1px solid #ebecf0;
}

.dark .dark\:vnodesign-border {
    border-color: rgba(255, 255, 255, 0.2);
}

.dark img {
    filter: brightness(70%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    line-height: 1.16667;
}
