@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'font-awesome/css/font-awesome.css';

.bg-body-light {
    background-color: #f7f9fb;
}

.dark .dark\:bg-body-dark {
    background-color: #18191a;
}

.dark .dark\:bg-exp-dark,
.dark .dark\:bg-title-dark,
.dark .dark\:bg-navbar-dark,
.dark .dark\:bg-footer-dark,
.dark .dark\:bg-product-dark,
.dark .dark\:bg-client-dark,
.dark .dark\:bg-coverletter-dark,
.dark .dark\:bg-contact-dark {
    background-color: #242526;
}

.input,
.textarea,
.modal-box {
    background-color: #fff;
}

.text-success {
    color: #28a745;
}

a:hover,
.text-errors {
    color: #fe2c55;
}

.fixed {
    border-bottom: 1px solid #ebecf0;
}

.vn-collapsed .vnodesign-border-navbar {
    border-right: 1px solid #ebecf0;
}

.vnodesign-border {
    border: 1px solid #ebecf0;
}

.vnodesign-border-color {
    border-color: #FC2954;
}

.bg-vnodesign {
    background: #FC2954 !important;
}

footer {
    border-top: 1px solid #ebecf0;
}

.dark .dark\:fixed,
.dark.vn-collapsed .dark\:vnodesign-border-navbar,
.dark .dark\:vnodesign-border,
.dark footer {
    border-color: rgba(255, 255, 255, 0.2);
}

.dark img {
    filter: brightness(50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    line-height: 1.16667;
}
